<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Artists</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h1>All artists</h1>
 <br/><br/>
  <ul class='artist'>
  <% for(var i=0; i < artists.length; i++) {%>
    <li class='artist'>
      <span><b>Name: </b><%= artists[i].name %></span><br />
      <span><b>Age: </b><%= artists[i].age %></span><br />
    </li>
  <% } %>
  </ul>
<br />

<a href='/add'>Add artist</a>&nbsp;&nbsp;<a href='/search'>Search artist</a>

</body>
</html>
