<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Artists</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <p class='artist'>
   <span><b>Name: </b><%= artist.name %></span><br/>
   <span><b>Age: </b><%= artist.age %></span><br/>
  </p>

  <form action='/delete' method='POST'>
    <span><input type='hidden' name='name' value='<%=artist.name%>'></span>
    <span><button type='submit'>Delete</button></span>
  </form>

</body>
</html>
