<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Inhaalexamen</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Resultaat</h2>
  <br/><br/>
  <p class='inhaalexamen'>
   <span><b>Name: </b><%= inhaalexamen.name %></span><br/>
   <span><b>Examen: </b><%= inhaalexamen.examen %></span><br/>
   <span><b>Reden: </b><%= inhaalexamen.reden %></span><br/>
   <span><b>Datum: </b><%= inhaalexamen.datum %></span><br/>
  </p>

</body>
</html>
